* {
    margin:0;
    padding:0;
}
body {
    background-image: url("imagens/bkgd2.gif");
}


h1 {
	display: none;
    visibility: hidden;
}

#tudo{
    font-family:  'Cinzel';
	text-align: center;
	width: 950px;
    margin: 0 auto;
    text-align: left;

}

.pagina{
    text-align: justify;
    background-color: white;
    margin-top: 7px;
}

.sub3{
    margin-top: 7px;
}

h5{
    color: white;
}

.recuo{
    margin: 18px;
}

h3{
    margin-top:7px;
    text-align: center;
    font-size: 30px;
}

.par{
    text-align: center;
    font-size: 10px;
}

.eps{
    background-color: grey;
    text-align: center;
}

.rodape{
    height: 30px;
    text-align: center;
    background-color: gray;
    text-align: auto;
}

.flutuar{
    float: left;
}

.imgborda{
    border: 7px;
}